/* Color Theme Swatches in Hex */
.bg-green-1 { background-color: #32C326; }
.bg-green-2 { background-color: #21831A; }
.bg-green-3 { background-color: #0E370B; }
.bg-green-4 { background-color: #11440D; }
.bg-green-5 { background-color: #0D330A; }

.color-green-1 { color: #32C326; }
.color-green-2 { color: #21831A; }
.color-green-3 { color: #0E370B; }
.color-green-4 { color: #11440D; }
.color-green-5 { color: #0D330A; }






